header {
  width: 100%;
}

.header-atas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  margin: 0% 3% 0 3%;
  background-color: white;
  box-shadow: 0px 2px 5px rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid black;
}

.logo {
  position: relative;
  margin: 0 auto;
  transform: translateX(0);
  left: 1%;
}

.picture-container {
  display: flex;
  align-items: center;
}

.profile-picture {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
/* --------------------Styling untuk Main------------------ */
main{
  width: 100%;
  padding: 3%;
}
main h1, p, button, section{
  margin-bottom: 1%;
}
main h1{
  font-size:x-large;
}
main p{
  font-size: medium;
}
.big-button{ 
  font-family: var(--font-primary);
  font-size: small ;
  background-color: white;
  margin: 5% 0;
  padding: 15px;
  width: 20%;
}
.container-riwayat{
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  height: 20rem;
  overflow-y: scroll;
}
.list-riwayat{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.list-riwayat a{
  font-size: medium;
  color: black;
  text-decoration:underline;
}
.button-list{
  display: flex;
  justify-content: center;
  gap: 5px;
}

/* ------------------------------------------------------- */
/* Styling untuk Footer */
footer {
  width: 100%;
  padding: 5% 0;
  background-color: var(--dark-blue);
}

footer h1,
footer p {
  color: white;
}

.logo-text {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-text img {
  width: 40%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap; /* Agar elemen bisa berbaris ke bawah jika sempit */
}

.connection-container {
  width: 30%;
}

.connection-container p {
  font-size: smaller;
  text-align: center;
}

.connection-container div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.information-container {
  width: 50%;
}

.information-container div {
  margin-bottom: 2%;
}

.information-container h1 {
  font-size: larger;
}

@media (max-width: 960px) {
  :root {
    --dark-blue: rgba(29, 40, 48, 1);
    --blue: rgba(27, 158, 222, 1);
    --gray: rgba(78, 90, 101, 1);
    --font-primary: "Inter", sans-serif;
    --font-size-larger: 15px;
    --font-size-large: 12px;
    --font-size-small: 10px;
    --font-size-smaller: 14px;
    --font-size-smallllerrrr: 10px;
  }
  .logo{
    margin: 0;
   }
  /* ---------------------------main conainter----------- */
  main h1{
    font-size:medium;
  }
  main p{
    font-size: small;
  }
  .big-button{ 
    font-size: smaller ;
    width: 100px;
  }
  .list-riwayat a{
    font-size: small;
  }
  /* ---------------------------------------------------- */
  .footer-container {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .connection-container {
    width: 90%;
    margin-bottom: 5%;
  }
  .information-container {
    width: 90%;
    margin-bottom: 10%;
  }
  .connection-container img {
    width: 100px;
  }
  .connection-container a {
    width: 50px;
  }
}
